/**
 * Animation classes used in the JS script (transin.js)
 *
 * Author: Neil Coetzer
 * Author URL: https://www.neilcoetzer.com
 * Organisation: Gapshift (Pty) Ltd
 * Organisation URL: https://www.gapshift.com]
 *
 * version: 1.0
 * Distributed under the MIT License
 */

$directions: ('up', 'left', 'right');
$offset: 40px;
.animate {
    @include prefix(opacity, 0);
    @include prefix(transition, all 0.5s $ease);

    @each $dir in $directions {
        &[data-anim-direction='#{$dir}'] {
            @if $dir == 'up' {
                @include prefix(transform, translateY($offset));
            } @else if $dir == 'left' {
                @include prefix(transform, translateX($offset));
            } @else {
                @include prefix(transform, translateX(-$offset));
            }

            &.move {
                @include prefix(opacity, 1);
                @include prefix(transform, translate(0));
            }
        }
    }
}
