/**
 * Variables used in '_animate.scss'
 *
 * Author: Neil Coetzer
 * Author URL: https://www.neilcoetzer.com
 * Organisation: Gapshift (Pty) Ltd
 * Organisation URL: https://www.gapshift.com]
 *
 * version: 1.0
 * Distributed under the MIT License
 */

// Animation and Easing
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$duration: 0.2s;
$ease: $animation-curve-fast-out-slow-in;
